/* GERAIS */
:root {
  --cor-primaria: #0D47A1;
  --cor-primaria-hover: #2065cb;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
img{
  max-width: 100%;
  display: block;
}
ul{
  list-style: none;
}
body.guia{
  background-color: #F7F7F7;
  overflow-y: hidden;
}
body{
  background-color: #F7F7F7;

}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}
.uppercase{
  text-transform: uppercase;
}
a{
  text-decoration: none;
}
.icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  stroke-width: 0;
  stroke: var(--cor-primaria);
  fill: var(--cor-primaria);
}
/* APP */

.app{
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
  position: relative;
}
header{
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
  gap: 2rem;
}

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 40px 0 20px 64px;
  cursor: pointer;
}

.bar {
  height: 4px;
  width: 80%;
  background-color: var(--cor-primaria);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-left: 20px;
}

.nav li a:hover {
  color: #adacaf;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background-color: var(--cor-primaria);
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(2px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 280px;
  height: 100%;
  transform: translate(-20px,-30px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #EEF0F4;
  border-radius: 1rem;
  box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14),
              0 5px 22px 4px rgba(0,0,0,0.12),
              0 7px 8px 0 rgba(0,0,0,0.20);
  margin-block: 2rem 4rem;
  padding: 2rem;
  position: relative;
}
.main h1{
  text-align: center;
  color: var(--cor-primaria);
  grid-row: 1;
  grid-column: 1/3;
  margin-bottom: 2rem;
  font-size: 24px;
}
.main h2{
  text-align: center;
  color: var(--cor-primaria);
  margin-block: 2rem;
}
.author{
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  opacity: .4;
}
a.author{
  color: #555555;
}
.ajuda{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35px;
  right: 70px;
  height: 30px;
  width: 30px;
  border: 2px solid var(--cor-primaria) ;
  border-radius: 50%;
  color: var(--cor-primaria);
  font-weight: bold;
  cursor: pointer;
}

.ajuda:hover{
  background-color: var(--cor-primaria);
  color: #F7F7F7;
}
[data-tooltip]:after {
  display: none;
  position: absolute;
  top: -5px;
  left: -310px;
  padding: 10px 20px;
  border-radius: 8px;
  content: attr(data-tooltip);
  background-color: white;
  color: black;
  width: 300px;
  z-index: 100;
  font-weight: normal;
  line-height: 24px;
  border: 2px solid var(--cor-primaria);
}

[data-tooltip]:hover:after {
  display: block;
}

.infos-guia-wrap{
  grid-column: 1/3;
  margin: 1rem 2rem;
  max-width: 860px;
  margin-inline: auto;

}
.infos-guia-wrap p{
  line-height: 1.5;
  margin-bottom: 1rem;
}
.infos-guia-wrap img{
  margin-block: 1rem;
  margin-inline: auto;

}
.strong_red{
  color: red;
}

.infos-contatos-wrap{
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-inline: auto;
  gap: 2rem;
  align-items: center;
  height: 300px;
}
.lista-contatos li{
  display: flex;
  gap: .5rem;
  margin-bottom: .5rem;
  align-items: center;
  
}
.lista-contatos li a{
  color: #000;
}
.lista-contatos, .infos-contatos-wrap p{
  flex: 1;
}


/* FORMULARIO */

form {
  display: grid;
  grid-template-columns: 160px 60px 160px 60px;
  padding-inline: 2rem;
  gap: 1rem;
  margin-bottom: 2rem;
  position: relative;
  margin-inline: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
}
.email-adm{
  grid-column: 1/5;
  font-size: 12px;
  font-weight: bold;
}
.wrap-input {
  display: flex;
  flex-direction: column;
  position: relative;
}
.coluna1-2{
  grid-column: 1/2;
}
.coluna2-3{
  grid-column: 2/3;
}
.coluna1-3{
  grid-column: 1/3;
}
.coluna1-5{
  grid-column: 1/5;
}
.coluna2-5{
  grid-column: 2/5;
}
.coluna3-5{
  grid-column: 3/5;
}
.coluna3-4{
  grid-column: 3/4;
}
.coluna2-4{
  grid-column: 2/4;
}

.wrap-input select{
  font-size: 18px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid black;
}

label {
  font-size: 12px;
  cursor: pointer;
  color: var(--cor-primaria);
  font-weight: bold;
  margin-bottom: 2px;
}

input {
  font-size: 18px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid black;
}

.wrap-orientador{
  display: flex;
  justify-content: space-between;
}

.wrap-orientador select{
  font-size: 14px;
  padding: 0;
}

.wrap-orientador input{
  width: 150px;
}

.wrap-btn-autor{
  align-self: flex-end;
  display: flex;
  gap: .5rem;
}

.btn-adicionar-autor{
  font-size: 10px;
  padding: .15rem .5rem;
  background-color: var(--cor-primaria);
  color: white;
  text-align: center;
  border-radius: 4px;
  margin-top: 4px;
  cursor: pointer;
  align-self: center;
  transition: .3s;
  user-select: none;
}
.btn-adicionar-autor:hover{
  background-color: var(--cor-primaria-hover);
}
.btn-remover-autor{
  font-size: 10px;
  padding: .15rem .5rem;
  text-align: center;
  border-radius: 4px;
  margin-top: 4px;
  cursor: pointer;
  border: 1px solid #000;
  align-self: center;
  opacity: .5;
  transition: .3s;
  user-select: none;
}
.btn-remover-autor:hover{
  opacity: 1;
}

.listaRomana{
  display: inline;
}

.remover-input{
  position: absolute;
  right: 4px;
  top: -2px;
  cursor: pointer;
  color: #ff00007c;
  padding: 0 2px;
  font-weight: bold;
  z-index: 10;
}
.remover-input:hover{
  color: #ff0000;
}


/* FICHA */
.wrap-ficha {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

.ficha-info {
  width: 12.5cm;
  height: 7.5cm;
  border: 2px solid black;
  margin-inline: auto;
  font-size: 12px;
  font-family: monospace;
  padding: 10px 20px 20px 80px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cover{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}
.wrap-btn {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin-top: 1rem;
}

.extra {
  position: absolute;
  left: 8px;
}

.text-indent {
  text-indent: 18px;
}

.extra-padding-left {
  padding-left: 20px;
}

.align-center {
  text-align: center;
}
.elaborado{
  font-size: 10px;
  margin-top: 2px;
  margin-inline: auto;
  max-width: 440px;
}
.btn {
  background-color: var(--cor-primaria);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border-color: var(--cor-primaria);
  transition: .3s;
  user-select: none;
}

.btn:hover {
  background: var(--cor-primaria-hover);
}

.btn-cancelar {
  background-color: white;
  color: black;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border-color: var(--cor-primaria);
  opacity: 0.4;
  border: 2px solid black;
  transition: .3s;
  user-select: none;
}

.btn-cancelar:hover {
  opacity: 1;
}

.btn:is([disabled]){
  opacity: .5;
}
.btn:is([disabled]):hover{
  background-color: var(--cor-primaria);
  cursor: default;
}
.mais:is([disabled]),.menos:is([disabled]){
  opacity: .5;
}
.mais:is([disabled]):hover,.menos:is([disabled]):hover{
  background-color: var(--cor-primaria);
  cursor: default;
}


.btn-cancelar:is([disabled]):hover{
  opacity: 0.4;
  cursor: default;
}

.wrap-range{
  display: flex;
  justify-content: center;
  position: relative;
  gap: 48px;
  grid-column: 2;
}
.wrap-range button{
  width: 32px;
  font-size: 20px;
  background-color: var(--cor-primaria);
  color: white;
  outline: none;
  cursor: pointer;
  z-index: 1;
}
.wrap-range button:hover{
  background-color: var(--cor-primaria-hover);
}
.wrap-range .menos{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.wrap-range .mais{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.wrap-range div{
  background-color: white;
  padding: 4px 12px;
  font-size: 14px;
  height: 100%;
  align-self: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  position: absolute;
}


/* ERRO */
.erro {
  font-size: 12px;
  color: #ff0000;
  font-weight: bold;
  opacity: 0;
  text-align: center;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin-inline: auto;
}
.erro.ativo{
  opacity: 1;
  height: max-content;
}
@media only screen and (max-width: 1160px){
  body{
    overflow-y: auto;
  
    }
    .main{
      display: flex;
      flex-direction: column-reverse;
      margin-inline: 2rem;
      padding-bottom: 2rem;
    }
    .menu{
      order: 1;
    }
    .main h1{
      order: 1;
    }
    form{
      margin-top: 4rem;
    }
}

@media only screen and (max-width: 720px) {
  .main{
    margin-inline: 0;
  }
  h1.titulo{
    margin-bottom: 0px;
    font-size: 1.25rem;
  }
  form{
    grid-template-columns: 1fr;
    align-items: center;
    padding-inline: 0;
    margin-top: 20px;
  }
  .coluna1-2{
    grid-column: 1;
  }
  .coluna2-3{
    grid-column: 1;
  }
  .coluna1-3{
    grid-column: 1;
  }
  .coluna1-5{
    grid-column: 1;
  }
  .coluna2-5{
    grid-column: 1;
  }
  .coluna3-5{
    grid-column: 1;
  }
  .coluna3-4{
    grid-column: 1;
  }
  .coluna2-4{
    grid-column: 1;
  }
  .coluna4-5{
    grid-column: 1;
  }
  form::after{
    display: none;
  }
  .btn, .btn-cancelar{
    font-size: 12px;
  }
  .wrap-ficha {
    align-items: center;
    max-width: 100%;
    transform: scale(.6);
    margin-block: -50px
  }
  .wrap-btn{
    transform: scale(1.5);
    margin-top: 3rem;
  }
  header{
    display: none;
  }
  .ajuda{
    top: 30px;
    right: 20px;
  }
  .author{
    bottom: -3rem;
    text-align: center;
    width: 400px;
  }
  #menu-bar {
    margin: 40px 0 20px 20px;

  }
  .infos-guia-wrap{
    margin-block: 3rem;
  }
}
